<div class="content" role="main">

    <h2>{{title}}</h2>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Department ID</label>
        </div>
        <select [(ngModel)]="selectedDepartment" class="custom-select" id="inputGroupSelect01">
            <option value="all" selected>All</option>
            <option *ngFor="let dept of allDepartments" value="{{ dept.dept_id }}"> {{ dept.dept_id }}</option>
        </select>
        <button (click)="viewDepartment()">Filter</button>
    </div>
    <div>
        <button type="submit" (click)="newDepartment()" class="btn btn-success">Add new Department</button>
    </div>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Department ID</th>
                <th class="text-center" scope="col">Code</th>
                <th class="text-center" scope="col">Description</th>
                <th class="text-center"scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container>
                <tr *ngFor="let dept of departmentList">
                    <td class="text-center"> {{dept.dept_id}} </td>
                    <td class="text-center"> {{dept.code}} </td>
                    <td class="text-center"> {{dept.description}} </td>
                    <td class="text-center">
                        <div class="divider"></div>
                        <button type="button" class="btn btn-primary"><i class="far fa-eye"></i>View</button>
                        <div class="divider"></div>
                        <button type="button" class="btn btn-success"><i class="fas fa-edit"></i>Edit</button>
                        <div class="divider"></div>
                        <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i>Delete</button>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>