<div class="content" role="main">

    <h2>{{title}}</h2>

    <div class="input-group mb-3" style="margin-top:15px">
        <p *ngFor="let emp of employeeInfo">
            Login ID : {{emp.login_id}}<br>
            Full Name: {{emp.name}}<br>
            Department ID: {{emp.dept_id}}<br>
            Onboarded Date: {{emp.onboarded}}<br>
        </p>
    </div>

    
        

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">RAG Status</th>
                <th class="text-center" scope="col">Storage Used
                    <label class="switch"><input type="checkbox"><span class="slider round"></span></label></th>
            </tr>
        </thead> 
        <tbody>
            <ng-container>
                <tr *ngFor="let emp of employeeQuota">
                    <td><form><button type="button" class="btn rag-color-{{emp.rag}}" style="width:100%"></button></form></td>
                    <td class="text-center"> {{emp.used_percentage}} %</td>
                    <td class="text-centre"> {{emp.used_megabytes}} MB</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>