<div class="content" role="main">

    <h2>{{title}}</h2>


    <p *ngFor="let emp of employeeInfo">Login: {{emp.login_id}}<br>
        Name: {{emp.name}}<br>
        Department: {{emp.dept_id}}<br>
        Onboarded: {{emp.onboarded}}<br></p>
        

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th class="text-center" scope="col">Rag</th>
                <th class="text-center" scope="col">Storage Used
                    <label class="switch"><input type="checkbox"><span class="slider round"></span></label></th>
            </tr>
        </thead>
        <tbody>
            <ng-container>
                <tr *ngFor="let emp of employeeQuota">
                    <td class="text-center"> {{emp.rag}} </td>
                    <td class="text-center"> {{emp.used_percentage}} %</td>
                    <td class="text-centre"> {{emp.used_megabytes}} MB</td>
                </tr>
            </ng-container>
        </tbody>
    </table>

</div>